* {
  box-sizing: border-box;
}
html,
body,
#root {
  margin: 0;
  height: 100%;
}
body {
  background: #1e1e1e;
  font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
}
.xterm {
  height: 100%;
}
